In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('ex2/ex2data1.txt', header = None)

In [3]:
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [4]:
X=data[[0,1]]
X.head()

           0          1
0  34.623660  78.024693
1  30.286711  43.894998
2  35.847409  72.902198
3  60.182599  86.308552
4  79.032736  75.344376

In [5]:
y=data[2]
y.head()

0    0
1    0
2    0
3    1
4    1
Name: 2, dtype: int64

In [6]:
X.shape

(100, 2)

In [7]:
unos = np.ones(100)
X['independiente']=pd.DataFrame(unos)

In [8]:
X.head()

           0          1  independiente
0  34.623660  78.024693            1.0
1  30.286711  43.894998            1.0
2  35.847409  72.902198            1.0
3  60.182599  86.308552            1.0
4  79.032736  75.344376            1.0

In [9]:
X = X.reindex(columns=['independiente',0,1])

In [10]:
X.head()

   independiente          0          1
0            1.0  34.623660  78.024693
1            1.0  30.286711  43.894998
2            1.0  35.847409  72.902198
3            1.0  60.182599  86.308552
4            1.0  79.032736  75.344376

In [63]:
theta = np.array([-24,0.2,0.2])

In [64]:
X_array=np.array(X)

In [65]:
X_array[2]*theta

array([-24.        ,   7.16948175,  14.58043961])

In [66]:
X_matrix = np.matrix(X_array)

In [67]:
theta_matrix= np.matrix(theta)

In [68]:
X_matrix*theta_matrix.T

matrix([[ -1.47032951],
        [ -9.16365834],
        [ -2.25007864],
        [  5.2982303 ],
        [  6.8754225 ],
        [ -3.72007015],
        [  7.52361808],
        [  0.31575182],
        [  8.70387128],
        [  1.59324265],
        [  2.81736663],
        [ -2.87661568],
        [  7.75780334],
        [  9.41665614],
        [ -0.88497   ],
        [  4.63568046],
        [  0.36212276],
        [ -1.07491408],
        [  8.71772949],
        [  0.91094948],
        [ -1.95790683],
        [  7.09522834],
        [ -4.12188004],
        [ -8.31568208],
        [  5.37929029],
        [  2.44509432],
        [  1.00236194],
        [  2.38301183],
        [ -1.58273722],
        [ -3.24370305],
        [  2.83743535],
        [  4.49130067],
        [ -0.9528793 ],
        [  0.29565298],
        [ -1.71907165],
        [ -2.63020171],
        [  2.55698717],
        [  5.01700989],
        [ -0.72746636],
        [ -2.11572793],
        [  4.04208798],
        [ -4.31919789],
        [  8.00245787],
        [  0.59740178],
        [ -4.62590935],
        [ -1.14326646],
        [  5.53024699],
        [ 12.89988432],
        [  7.76837758],
        [ 12.05225341],
        [  6.82158746],
        [  8.05431159],
        [  2.78746318],
        [ -5.01582874],
        [ -3.98179301],
        [ -2.12087436],
        [  9.30144134],
        [  1.63514956],
        [  4.81465252],
        [  6.05000486],
        [  8.23110963],
        [ -7.53867465],
        [ -4.896942  ],
        [ -8.06964074],
        [ -1.77633043],
        [ -2.46940149],
        [  3.59854729],
        [ -3.80884499],
        [ 10.47912697],
        [  1.54762252],
        [ -8.79399878],
        [  4.41420169],
        [  9.71481744],
        [  2.71057677],
        [  2.93988091],
        [ 10.43942195],
        [  3.14802682],
        [  1.25360387],
        [ -3.40720685],
        [  0.98930802],
        [  7.74353706],
        [  4.10576271],
        [  2.78172213],
        [ -0.64940234],
        [ 10.26538078],
        [  6.81256578],
        [  0.18404811],
        [  9.1804482 ],
        [ 11.0565703 ],
        [ -1.37649815],
        [ 10.25068724],
        [ 11.59146855],
        [ -5.78942708],
        [  7.86756585],
        [  3.04081806],
        [  2.37388971],
        [  1.87311035],
        [  9.61808366],
        [  0.05439111],
        [  8.86114118]])

In [69]:
X_matrix.shape

(100, 3)

In [70]:
theta_matrix.T.shape

(3, 1)

In [71]:
z= X_matrix*theta_matrix.T

sigmoid = 1/(1+np.exp(z))

In [72]:
sigmoid.sum()

35.709700510046552

In [73]:
np.log(np.exp(1))

1.0

In [74]:
J = 1/100*k

In [75]:
y_matrix = np.matrix(y)

In [76]:
(-y_matrix*np.log(sigmoid))

matrix([[ 349.58073718]])

In [77]:
(1-y_matrix)*np.log(1-sigmoid)

matrix([[-123.134634]])

In [78]:
k = float((-y_matrix*np.log(sigmoid))-(1-y_matrix)*np.log(1-sigmoid))

In [79]:
J = 1/100*k
J

4.7271537117484845

In [187]:
theta = np.array([-24,0.2,0.2])

In [134]:
X_array

array([[  1.        ,  34.62365962,  78.02469282],
       [  1.        ,  30.28671077,  43.89499752],
       [  1.        ,  35.84740877,  72.90219803],
       [  1.        ,  60.18259939,  86.3085521 ],
       [  1.        ,  79.03273605,  75.34437644],
       [  1.        ,  45.08327748,  56.31637178],
       [  1.        ,  61.10666454,  96.51142588],
       [  1.        ,  75.02474557,  46.55401354],
       [  1.        ,  76.0987867 ,  87.42056972],
       [  1.        ,  84.43281996,  43.53339331],
       [  1.        ,  95.86155507,  38.22527806],
       [  1.        ,  75.01365839,  30.60326323],
       [  1.        ,  82.30705337,  76.4819633 ],
       [  1.        ,  69.36458876,  97.71869196],
       [  1.        ,  39.53833914,  76.03681085],
       [  1.        ,  53.97105215,  89.20735014],
       [  1.        ,  69.07014406,  52.74046973],
       [  1.        ,  67.94685548,  46.67857411],
       [  1.        ,  70.66150955,  92.92713789],
       [  1.        ,  76.97878373,  47.57596365],
       [  1.        ,  67.37202755,  42.83843832],
       [  1.        ,  89.67677575,  65.79936593],
       [  1.        ,  50.53478829,  48.85581153],
       [  1.        ,  34.21206098,  44.2095286 ],
       [  1.        ,  77.92409145,  68.97235999],
       [  1.        ,  62.27101367,  69.95445795],
       [  1.        ,  80.19018075,  44.82162893],
       [  1.        ,  93.1143888 ,  38.80067034],
       [  1.        ,  61.83020602,  50.25610789],
       [  1.        ,  38.7858038 ,  64.99568096],
       [  1.        ,  61.37928945,  72.80788731],
       [  1.        ,  85.40451939,  57.05198398],
       [  1.        ,  52.10797973,  63.12762377],
       [  1.        ,  52.04540477,  69.43286012],
       [  1.        ,  40.23689374,  71.16774802],
       [  1.        ,  54.63510555,  52.21388588],
       [  1.        ,  33.91550011,  98.86943574],
       [  1.        ,  64.17698887,  80.90806059],
       [  1.        ,  74.78925296,  41.57341523],
       [  1.        ,  34.18364003,  75.23772034],
       [  1.        ,  83.90239366,  56.30804622],
       [  1.        ,  51.54772027,  46.85629026],
       [  1.        ,  94.44336777,  65.56892161],
       [  1.        ,  82.36875376,  40.61825516],
       [  1.        ,  51.04775177,  45.82270146],
       [  1.        ,  62.22267576,  52.06099195],
       [  1.        ,  77.19303493,  70.4582    ],
       [  1.        ,  97.77159928,  86.72782233],
       [  1.        ,  62.0730638 ,  96.76882412],
       [  1.        ,  91.5649745 ,  88.69629255],
       [  1.        ,  79.94481794,  74.16311935],
       [  1.        ,  99.27252693,  60.999031  ],
       [  1.        ,  90.54671411,  43.39060181],
       [  1.        ,  34.52451385,  60.39634246],
       [  1.        ,  50.28649612,  49.80453881],
       [  1.        ,  49.58667722,  59.80895099],
       [  1.        ,  97.64563396,  68.86157272],
       [  1.        ,  32.57720017,  95.59854761],
       [  1.        ,  74.24869137,  69.82457123],
       [  1.        ,  71.79646206,  78.45356225],
       [  1.        ,  75.39561147,  85.75993667],
       [  1.        ,  35.28611282,  47.02051395],
       [  1.        ,  56.2538175 ,  39.26147251],
       [  1.        ,  30.05882245,  49.59297387],
       [  1.        ,  44.66826172,  66.45008615],
       [  1.        ,  66.56089447,  41.09209808],
       [  1.        ,  40.45755098,  97.53518549],
       [  1.        ,  49.07256322,  51.88321182],
       [  1.        ,  80.27957401,  92.11606081],
       [  1.        ,  66.74671857,  60.99139403],
       [  1.        ,  32.72283304,  43.30717306],
       [  1.        ,  64.03932042,  78.03168802],
       [  1.        ,  72.34649423,  96.22759297],
       [  1.        ,  60.45788574,  73.0949981 ],
       [  1.        ,  58.84095622,  75.85844831],
       [  1.        ,  99.8278578 ,  72.36925193],
       [  1.        ,  47.26426911,  88.475865  ],
       [  1.        ,  50.4581598 ,  75.80985953],
       [  1.        ,  60.45555629,  42.50840944],
       [  1.        ,  82.22666158,  42.71987854],
       [  1.        ,  88.91389642,  69.8037889 ],
       [  1.        ,  94.83450672,  45.6943068 ],
       [  1.        ,  67.31925747,  66.58935318],
       [  1.        ,  57.23870632,  59.51428198],
       [  1.        ,  80.366756  ,  90.9601479 ],
       [  1.        ,  68.46852179,  85.5943071 ],
       [  1.        ,  42.07545454,  78.844786  ],
       [  1.        ,  75.47770201,  90.424539  ],
       [  1.        ,  78.63542435,  96.64742717],
       [  1.        ,  52.34800399,  60.76950526],
       [  1.        ,  94.09433113,  77.15910509],
       [  1.        ,  90.44855097,  87.50879176],
       [  1.        ,  55.48216114,  35.57070347],
       [  1.        ,  74.49269242,  84.84513685],
       [  1.        ,  89.84580671,  45.35828361],
       [  1.        ,  83.48916274,  48.3802858 ],
       [  1.        ,  42.26170081,  87.10385094],
       [  1.        ,  99.31500881,  68.77540947],
       [  1.        ,  55.34001756,  64.93193801],
       [  1.        ,  74.775893  ,  89.5298129 ]])

In [135]:
y_array = np.array(y)
y_array

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1])

In [136]:
np.transpose(y_array)

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1])

In [190]:
z=np.dot(X_array,theta)
z

array([ -1.47032951,  -9.16365834,  -2.25007864,   5.2982303 ,
         6.8754225 ,  -3.72007015,   7.52361808,   0.31575182,
         8.70387128,   1.59324265,   2.81736663,  -2.87661568,
         7.75780334,   9.41665614,  -0.88497   ,   4.63568046,
         0.36212276,  -1.07491408,   8.71772949,   0.91094948,
        -1.95790683,   7.09522834,  -4.12188004,  -8.31568208,
         5.37929029,   2.44509432,   1.00236194,   2.38301183,
        -1.58273722,  -3.24370305,   2.83743535,   4.49130067,
        -0.9528793 ,   0.29565298,  -1.71907165,  -2.63020171,
         2.55698717,   5.01700989,  -0.72746636,  -2.11572793,
         4.04208798,  -4.31919789,   8.00245787,   0.59740178,
        -4.62590935,  -1.14326646,   5.53024699,  12.89988432,
         7.76837758,  12.05225341,   6.82158746,   8.05431159,
         2.78746318,  -5.01582874,  -3.98179301,  -2.12087436,
         9.30144134,   1.63514956,   4.81465252,   6.05000486,
         8.23110963,  -7.53867465,  -4.896942  ,  -8.06964074,
        -1.77633043,  -2.46940149,   3.59854729,  -3.80884499,
        10.47912697,   1.54762252,  -8.79399878,   4.41420169,
         9.71481744,   2.71057677,   2.93988091,  10.43942195,
         3.14802682,   1.25360387,  -3.40720685,   0.98930802,
         7.74353706,   4.10576271,   2.78172213,  -0.64940234,
        10.26538078,   6.81256578,   0.18404811,   9.1804482 ,
        11.0565703 ,  -1.37649815,  10.25068724,  11.59146855,
        -5.78942708,   7.86756585,   3.04081806,   2.37388971,
         1.87311035,   9.61808366,   0.05439111,   8.86114118])

In [138]:
h = 1/(1+np.exp(-z))

In [139]:
s = (-y_array*np.log(h)-(1-y_array)*np.log(1-h))

In [141]:
J=1/100*s.sum()
J

0.21833019382659785

In [160]:
for j in range(3):
    a1=(h-y_array)*X_array[:,j]
    theta[j]=1/100*a1.sum()
    
theta

array([ 0.04290299,  2.56623412,  2.64679737])

In [162]:
a1.sum()

264.67973710824333

In [172]:
h

array([  1.86892535e-01,   1.04767902e-04,   9.53426817e-02,
         9.95024445e-01,   9.98968205e-01,   2.36589577e-02,
         9.99460117e-01,   5.78288591e-01,   9.99834085e-01,
         8.31071833e-01,   9.43607101e-01,   5.33217140e-02,
         9.99572788e-01,   9.99918649e-01,   2.92148932e-01,
         9.90393672e-01,   5.89554197e-01,   2.54469685e-01,
         9.99836368e-01,   7.13194415e-01,   1.23693756e-01,
         9.99171635e-01,   1.59553035e-02,   2.44590126e-04,
         9.95410071e-01,   9.20201967e-01,   7.31522710e-01,
         9.15522663e-01,   1.70408175e-01,   3.75538198e-02,
         9.44665554e-01,   9.88918125e-01,   2.78306140e-01,
         5.73379509e-01,   1.51990780e-01,   6.72198018e-02,
         9.28041519e-01,   9.93419288e-01,   3.25750963e-01,
         1.07577522e-01,   9.82742291e-01,   1.31357121e-02,
         9.99665473e-01,   6.45061650e-01,   9.69973765e-03,
         2.41721140e-01,   9.96050650e-01,   9.99997502e-01,
         9.99577280e-01,   9.99994169e-01,   9.98911198e-01,
         9.99682372e-01,   9.41994586e-01,   6.58843806e-03,
         1.83106328e-02,   1.07084438e-01,   9.99908716e-01,
         8.36873856e-01,   9.91955204e-01,   9.97647696e-01,
         9.99733830e-01,   5.31819396e-04,   7.41401145e-03,
         3.12797800e-04,   1.44756844e-01,   7.80312825e-02,
         9.73365371e-01,   2.16927646e-02,   9.99971884e-01,
         8.24570084e-01,   1.51617386e-04,   9.88040547e-01,
         9.99939622e-01,   9.37647877e-01,   9.49783047e-01,
         9.99970745e-01,   9.58830903e-01,   7.77923084e-01,
         3.20709903e-02,   7.28951222e-01,   9.99566652e-01,
         9.83789658e-01,   9.41680094e-01,   3.43124231e-01,
         9.99965183e-01,   9.98901341e-01,   5.45882582e-01,
         9.99896976e-01,   9.99984217e-01,   2.01572001e-01,
         9.99964668e-01,   9.99990755e-01,   3.05040125e-03,
         9.99617181e-01,   9.54384457e-01,   9.14814471e-01,
         8.66817761e-01,   9.99933489e-01,   5.13594427e-01,
         9.99858227e-01])

In [180]:
X_array[0]

array([  1.        ,  34.62365962,  78.02469282])

In [178]:
np.dot(A,A)

14

In [189]:
np.dot(X_array[0],theta)

-1.4703295120241258

In [188]:
theta

array([-24. ,   0.2,   0.2])